<mat-card class="movie-thumbnail">
    <mat-card-header>
        <mat-card-title>{{movie?.title}}</mat-card-title>
        <mat-card-subtitle>{{movie?.release_date}}</mat-card-subtitle>
    </mat-card-header>

    <img class="movie-image" mat-card-image [src]="movie?.poster_path" [alt]="movie?.name">
    <mat-card-content class="movie-overview">
        {{movie?.overview}}
    </mat-card-content>
    <mat-card-actions class="movie-actions">
        <button *ngIf="!useWatchListApi" mat-button (click)="addToWatchList()" id="addwatchList" color="primary">Add To WatchList</button>
        <button *ngIf="useWatchListApi" mat-button (click)="deleteFromWatchList()" color="primary">Delete</button>
        <button *ngIf="useWatchListApi" mat-button (click)="updateFromWatchList('update')" color="primary" align="end">Update</button>
    </mat-card-actions>
</mat-card>