<mat-toolbar color="primary">
    <span>Movie Cruiser</span>
    <button mat-button [routerLink]="['/movies/popular']"> Popular Movies</button>
    <button mat-button [routerLink]="['/movies/top_rated']">Top-Rated Movies</button>
    <button mat-button [routerLink]="['/movies/watchlist']">My WatchList</button>
    <button mat-button class="movieSearch" [routerLink]="['/movies/search']">Search</button>
    <button mat-button (click)="logout()">Logout</button>

    </mat-toolbar>
    
    <router-outlet></router-outlet>